<header class="grades-header">
  <h1>SCHOOL YEARS</h1>
</header>

<%= link_to 'Create New Grade', new_grade_path , class: "btn btn-warning"%> <br>

<% if !@grades.empty? %>
  <div class="main-grades-index">
    <% @grades.each do |grade| %><!--
      --><div class="card">
        <a href="<%= grade_path(grade.id) %>">
          <%= image_tag(set_grade_image(grade), class: "card-img-top", alt: "class img") %>
        </a>

        <div class="card-body">
          <%= link_to grade.name, grade, class: 'card-text' %>
        </div>
      </div><!--
    --><% end %>
  </div>
<% end %>
