<header class="grades">
  <h1>SCHOOL YEARS</h1>
</header>

<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<div class="main">
  <% @grades.each do |grade| %><!--
    --><div class="card">
      <%= image_tag("form_background.jpg", class: "card-img-top", alt: "class img") %>
      <div class="card-body">
        <%= link_to grade.name, grade, class: 'card-text' %>
      </div>
    </div><!--
  --><% end %>

</div>


<br>

<%= link_to 'Create New Grade', new_grade_path , class: "btn btn-warning"%>

