<%= link_to 'Back', student_show_path(grade_id: @grade_id, id: @section_id), class: "btn btn-info btn-sm" %>

<div class="form">
  <h1>Editing Student</h1>

  <%= render 'form', student: @student %>
</div>
