<%= render "navbar" %>

<%= link_to 'Back', "/grades/#{@grade_id}/activities", class: "btn btn-info btn-sm" %>

<div class="form">
  <h1>Editing Speaking</h1>

  <%= render 'form', speaking: @speaking %>
</div>
